[general]
mode=server

[client-01]
artifacts=fstab
fstab_file=/etc/fstab
fstab_versions=5
fstab_interval=600

[client-02]
artifacts=sql,config
sql_command=mysql --dump > /tmp/output
sql_file=/tmp/output
sql_cleanup=true
sql_versions=1
sql_interval=7200
config_file=/etc/myapp
config_versions=5
config_interval=600