[general]
mode=server
backup_location=C:\backups
port=9001

[client-01]
artifacts=fstab
fstab_filename=/etc/fstab
fstab_versions=5
fstab_interval=10m

[matt]
artifacts=time
time_backup_command=time /T > C:\file
time_restore_command=time C:\file
time_filename=C:\file
time_cleanup=true
time_versions=5
time_interval=10s